@model FullRequestViewModel


<div class="container_head">
    <div>Заявка №@Model.Id</div>
    <div>Тема: @Model.Theme</div>
</div>

<div class="container_buttoms">
    @if (Model.StatusQueue == 1)
    {
        <div class="request_buttom">
            <a class="a_buttom" asp-controller="Request" asp-action="DeleteRequest" asp-route-requestId="@Model.Id">Удалить</a>
        </div>
        <div class="request_buttom">
            <a class="a_buttom" asp-controller="Request" asp-action="EditRequest" asp-route-requestId="@Model.Id">Редактировать</a>
        </div>
        <div class="request_buttom">
            <a class="a_buttom" asp-controller="Request" asp-action="SendRequest" asp-route-requestId="@Model.Id">Отправить</a>
        </div>
    }
</div>

<div class="container_request">
    <div class="description_request">
        <div class="name_description">Описание</div>
        <div class="description">@Model.Description</div>
    </div>
    <div class="users_request">
        <div class="autor_request">
            Автор:
            @Model.Creator
        </div>
        <div class="admin_request">
            В работе:
            @Model.Admin
        </div>
        <div class="admin_request">
            Статус заявки: @Model.Status
        </div>
    </div>
</div>
@if (Model.Comments.Any())
{
    <div class="request_comments">
        Комментарии
    </div>
}






@section css {
    <link href="~/css/request.css" rel="stylesheet" asp-append-version="true" />
}
