@model IEnumerable<RequestViewModel>
@using HelpDesk.Common.Constants;

<div class="users-table">
    <div class="panel-heading">
        <div class="panel-heading-text">Заявки</div>
        @if (User.IsInRole(UserConstants.UserRole))
        {
            <form method="get" asp-controller="Request" asp-action="AddRequest">
                <button class="button_classic button_whith_border" type="submit" title="Создать">Создать</button>
            </form>
        }
    </div>

    @if (!Model.Any())
    {
        <div class="message">
            <h2>Заявки не найдены</h2>
        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Номер</th>
                <th>Тема</th>
                <th>Дата</th>
                <th>Статус</th>
                @if (User.IsInRole(UserConstants.AdminRole))
                {
                    <th>Автор</th>
                }
                <th>Исполнитель</th>
            </tr>
            @foreach (var request in Model)
            {

        <tr onclick="location.href = '@Url.Action("GetRequest", "Request", new { requestId = request.Id })'">
            <td>@request.Id</td>
            <td>@request.Theme</td>
            <td>@request.IncomingDate</td>
            <td>@request.Status</td>
            @if (User.IsInRole(UserConstants.AdminRole))
            {
                <td>@request.Creator</td>
            }
            <td>@request.Admin</td>
        </tr>

            }
        </table>
    }
</div>

@section css {
    <link href="~/css/request.css" rel="stylesheet" asp-append-version="true" />
}